body {
	background-color: rgb(88,93,118);
	font-family: Cabin,Arial,Verdana,sans-serif;
}

div.divSeparator {
	margin-top: 6px;
	margin-bottom: 6px;
	border-bottom: 1px;
	border-bottom-color: rgba(200, 200, 200, 0.7  );
	border-bottom-style: solid;
}

div.logo {
	float: right;
	margin-right: 18px;
	margin-top: 12px;
}

div.pad {
	position: absolute;
	border-radius: 4px 4px 4px 4px;
	z-index: -1;
	padding-top: 12px;
	margin-left: 2px;
}

div.rotors {
	margin-left: -6px;
	padding-left: 6px;
	overflow-y: scroll;
}

div.sidebar {
	border-right: .1em;
	border-right-style: solid;
	border-right-color: rgba(98,103,170,0.5);
	position: absolute;
	float: left;
	background: rgba(240, 240, 240, 1);
	border-radius: 4px 0px 0px 4px;
	padding-left: 14px;
	padding-right: 12px;
	padding-top: 12px;
	width: 200px;
	z-index: 5;
	margin-left: 2px;
	-webkit-box-shadow: 1px 0px .5px rgba(220,220,220,0.8);
	-moz-box-shadow: 1px 0px .5px rgba(220,220,220,0.8);
	box-shadow: 1px 0px .5px rgba(220,220,220,0.8);
}
	
div.title {
	margin-top: 5px;
	font-size: 13pt;
}
	
	
	
span.addLabel {
	cursor: pointer;
	font-size: 10pt;
	margin: 0px;
	vertical-align: 3%;
	color: #004d00;
	margin-left: 2px;
}
	
span.addLabel:hover {
	text-decoration: underline;
}

span.buttonLabel {
	cursor: pointer;
	font-size: 10pt;
	margin: 0px;
	color: #000000;
	margin-left: 1px;
}
	
span.buttonLabel:hover {
	text-decoration: underline;
}

span.buttonText {
	font-size: 10pt;
	vertical-align: middle;
}

span.buttonTextSmall {
	font-size: 9pt;
	vertical-align:middle;
}

span.deleteLabel {
	cursor: pointer;
	font-size: 10pt;
	margin: 0px;
	vertical-align: 10%;
	color: #660000;
}
	
span.deleteLabel:hover {
	text-decoration: underline;
}

span.label {
	margin-left: -4px;
	display: inline-block;
	margin-bottom: 3px;
	font-size: 13pt;
	vertical-align: top;
}

span.letterLabel {
	display: inline-block;
	font-size: 9pt;
	width: 13px;
	margin-bottom: 0px;
}

span.n {
	color: #6267AA;
	font-style: italic;
	font-weight: bolder;
}

span.title {
	margin-left: -4px;
	display: inline-block;
	margin-bottom: 3px;
	font-size: 19pt;
}

span.typelabel {
	padding-left: 4px;
	font-size: 9pt;
}
	

	

	


input.number {
	font-size: 9pt;
	border: 1px;
	border-color: rgba(98,103,170,0.3);
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	padding-left: 4pt;
	margin-bottom: -1px;
	margin-left: 4px;
	margin-top: 3px;
	margin-right: 3px;
	width: 38px;
	outline: none;
}
	
input.angle {
	font-size: 9pt;
	border: 1px;
	border-style: solid;
	border-color: rgba(98,103,170,0.5);
	border-radius: 4px 4px 4px 4px;
	padding-top: 6px;
	padding-bottom: 7px;
	margin-left: 0px;
	margin-right: 0px;
	width: 18%;
	outline: none;
	vertical-align: 40%;
	text-align: center;
}
input.radio {
	margin-left: 3px;
	margin-top: -2px;
	margin-bottom: 0px;
	margin-right: 4px;
}
	
input.color {
	width: 43px;
	padding: 0px;
	height: 16px;
	margin-left: 4px;
	border-radius: 4px 4px 4px 4px;
	margin-top: 4px;
}

select {
	color: black;
	background: white;
	font-size: 9pt;
	border: 1px;
	border-color: rgba(98,103,170,0.3);
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	padding-left: 4pt;
	margin-bottom: 4px;
	margin-top: 3px;
	outline: 0px;
}
	
select.preset {
	width: 100%;
}
	
select.speed {
	width: 75%;
	margin-left: 4px;
}











button {
	border: 1px;
	border-style: solid;
	border-color: rgba(98,103,170,0.5);
	outline: 0px;
	background: none;
	font-size: 9pt;
	padding-top: 4px;
	padding-bottom: 1px;
	margin-bottom: 3px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	width:20%;
}

button:hover {
	background: lightgrey;
}
	
button:active {
	color: white;
	background: gray;
}

button.add {
	border:0;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -1px;	
	margin-top: -1px;
	text-align:left;
	float:right;
	width:55%;
}

button.delete {
	border:0;
	padding-left:0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -1px;	
	margin-top: -1px;
	text-align:left;
	width:100%;
}

button.draw {
	border: 0px;
	width: 100%;
	background: rgba(0, 153, 51, .9);
	color: rgba(240, 240, 220, 1);
	font-size: 12pt;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 0px;
}
		
button.draw:hover {
	background: rgba(0, 153, 51, .7);
	color: white;
}
button.draw:active {
	color: rgba(240, 240, 240, 1);
	background: rgba(0, 153, 51, 1);
}








img.logo {
	width: 200px;
	height: 73px;
	display: block;
}

img.add {
	width: 18px;
	height: 18px;
	float: left;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:8px;
}
	
img.delete {
	width: 18px;
	height: 18px;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right:4px;
}

img.git {
	width: 21px;
	height: 21px;
	float: left;
	margin-bottom: 2px;
}

img.edit {
	width: 20px;
	height: 20px;
}
	

	
	
	
	

	

	

	

	

	
